@import url('https://fonts.googleapis.com/css?family=Comfortaa');
body,
html {
    height: 100%;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-family: Comfortaa;
    text-align: center;
    background: #000008;
}

.card {
    width: 650px;
    min-height: 480px;
    height: auto;
    border-radius: 4px;
    box-shadow: -8px 0 5px -5px rgba(0, 0, 0, .5) inset;
    overflow: hidden;
    position: relative;
    background-color: #282c34;
}

h1 {
    text-align: center;
    font-size: 2em;
}

h2 {
    font-size: 8em;
    margin: 20px 0px;
}

p {
    font-size: 1em;
    margin: 0px;
}

ul {
    margin: 0;
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}

li {
    list-style-type: none;
    width: 50%;
    max-width: 50%;
    word-break: break-all;
    margin-bottom: 20px;
    border-top: 1px solid white;
    padding-bottom: 12px;
    margin-top: 8px;
}

li a {
    justify-content: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 2em;
}

li img {
    width: 100px;
    padding: 10px;
    border-radius: 73px;
}

li a div::after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

#player1-img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}